/* edu.css 
linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 67.21%, rgba(255, 255, 255, 0) 100%), linear-gradient(-103.35deg, rgb(215, 252, 254) 3.73%, rgb(251, 213, 250) 56.7%, rgb(254, 224, 213) 100.35%)
*/
.edu{
    width: 100%;
}
.main-border {
    position: relative;
    padding-left: 30px;
    border-left: 1px solid #d8d1f5;
}
.mainTitle {
    position: relative;
    margin-bottom: 9px;
    margin-top: 27px;
}
.edu .description a{
    color: var(--link);
}
.mainTitle::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: -33px;
    /* background: linear-gradient(0deg, #ad47fa, #f9437d); */
    background: var(--text-color);
}
.mainTitle span{
    font-size: 20px;
    font-weight: 900;
    line-height: 27px;
}
.mainTitle #grtext{
    /* background-image: var(--gr-Text);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: var(--text-color);
}
.subtitle {
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
}

