/* contact */
.contact{
    position: relative;
    top: 13px;
    width: 89%;
    height: 85vh;
    background: black;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    padding: 0px 30px;
}
.left-box{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}
.contact-wrapper{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.contact-wrapper img{
    height: 244px;
    filter: brightness(0.7);
}
.contact-wrapper h1{
    font-size: 47px;
    font-weight: 800;
    color: var(--main-text-color);
    font-family: sans-serif;
    margin-top: -14px;
    margin-bottom: 12px;
}
.contact-social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.contact-icons a{
    padding: 0;
    color: var(--gray);
    font-size: 17px;
    padding-block: 4px;
}
.contact-icons a:hover{
    color: var(--link);
}
.contact-icons svg{
    position: relative;
    top: 4px;
    fill: var(--link);
}
.contact-icons a:last-child{
    margin-bottom: 19px;
}
.contact-social-icons a{
    padding: 0;
    color: var(--gray);
}
.contact-social-icons svg{
    position: relative;
    fill: var(--link);
    top: 2px;
    width: 40px;
    height: 40px;
    transition: var(--transition1);
}
.contact-social-icons svg:hover{
    fill: var(--link-hover-bg);
}
.right-box{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}
.form-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 8px;
    background: var(--box-color);
    box-shadow: var(--box-shadow);
    padding: 22px;
    --form-width: 96%;
    --form-border: 2px solid;
    --form-outline: none;
   }
   form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
   }
   label{
    font-size: 19px;
    font-weight: 500;
    color: var(--text-color);
    width: var(--form-width);
    margin: auto;
   }
   input, textarea{
    background: var(--box-color);
    font-size: 15px;
    font-weight: 500;
    padding: 11px 12px;
    border-radius: 4px;
    color: var(--color);
    border: var(--form-border) var(--border);
    margin: 12px auto;
    outline: var(--form-outline);
    width: var(--form-width);
    transition: all .3s ease;
   }
   input:focus, textarea:focus{
    border: var(--form-border) var(--link);
   }
   input[type="submit"]{
    font-weight: 600;
    text-transform: uppercase;
    background: var(--btn-color);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
   }
   input[type="submit"]:hover{
    background: var(--link-hover-bg);
   }
   @media (width <= 850px) {
    .contact{
        height: 142vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 27px;
    }
    .left-box{
        width: 100%;
    }
    .right-box{
        width: 100%;
    }
    .form-wrapper{
        top: 44%;
       }
       .contact-social-icons{
        gap: 8px;
       }
   }
   @media (width <= 500px) {
    .contact-wrapper h1{
        font-size: 38px;
        margin-top: -11px;
    }
   }