.home-section{
    height: calc(100vh - 11vh);
    width: 100%;
    margin-top: 14px;
    background: black;
}
.dashed-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.dashed-img img{
    height: 100px;
    height: 702px;
    filter: invert(95) opacity(.3) blur(4px);
    transform: rotate(270deg);
}
.content-wrapper{
    position: relative;
    background: var(--body-color);
    z-index: 5;
}
.author-name{
    display: flex;
    gap: 9px;
}
#author-name-area{
    color: var(--link);
}




























.animatedHand, .Portfolio {
    display: inline-block;
}
#main {
    height: 100%;
    width: 100%;
}
.imgbox {
    position: relative;
    float: right;
    height: 100%;
    width: 50%;
    overflow: hidden;
}
.imgPosition {
    position: fixed;
    top: 64%;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 420px;
    width: 300px;
    border-radius: 12px;
    z-index: 0;
}
@media (width <= 850px) {
    .imgbox{
        width: 80%;
    }
  .imgPosition{
    height: 302px;
  }
  .textbox{
    width: 100% !important;
  }
}
@media (width <= 500px) {
    .imgbox{
        width: 100%;
    }
    .textcenter h1, h2{
        font-size: 27px !important;
        line-height: 37px !important;
      }
      .textcenter p{
        font-size: 18px !important;
        line-height: 25px !important;
      }
      .textcenter button {
        font-size: 21px !important;
        padding-top: 9px !important;
      }
}
.imgPosition img {
    /* filter: grayscale(1) brightness(0.3); */
    filter: opacity(0.5);
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: var(--transition1);
    cursor: pointer;
    scale: 1.9;
    transform: translate(-14px, 40px);
}
.textbox {
    position: relative;
    width: 60%;
    height: 100%;
}
.textcenter {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 70%;
}
.textcenter h1, h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: var(--main-text-color);
}
.textcenter p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: var(--gray);
    margin-block: 8px;
}
.textcenter h1, p{
    margin-bottom: -2px;
}
.textcenter svg{
    position: relative;
    top: 4px;
}
#meta-icon{
    fill: #0264d3;
    color: var(--gray);
    padding-bottom: 2px;
    transition: var(--transition1);
}
#meta-icon:hover{
    color: var(--link);
}
#fcc-icon{
    padding-bottom: 2px;
    fill: #fff;
    color: var(--gray);
    transition: var(--transition1);
}
#fcc-icon:hover{
    color: var(--link);
}
.textcenter button {
    display: flex;
    outline: none;
    gap: 12px;
    border: 0;
    background: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 23px;
    cursor: pointer;
    padding-top: 12px;
    transition: var(--transition1);
}
#download-btn {
    padding-bottom: 4px;
    color: var(--btn-color);
    opacity: 0;
    animation: fade .5s .4s ease forwards;
}
#download-btn svg {
    fill: var(--btn-color);
    position: relative;
    top: 0px;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
h1.logotext {
    font-size: 37px;
    width: 100%;
    text-align: center;
}
.Portfolio {
    color: var(--btn-color);
}
.animatedHand {
    animation: 2s ease-in-out infinite animatedHand;
    transform-origin: 80% 75%;
    margin-left: 4px;
    margin-right: 8px;
}

@media (width <= 850px) {
    
}

